<!-- Portfolio Section -->
<section class="site-section portfolio-section next-section-indicator" id="portfolio">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.portfolio-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.portfolio-description }}</p>
      </div>

    </div>

    <!-- Filter Menu -->
    <div class="row filter-menu-wrapper">
      <div class="col-md-8 col-md-push-2">
        <div class="filter-menu">
          <ul>
            <li data-filter="all" class="current">All</li>

	    {% assign categories =  site.portfolio | map: 'categories' | join: ','  | split: ',' | uniq %}
	    {% for category in categories %}
              <li data-filter=".{{ category | replace:' ','-' | downcase }}" >{{ category }}</li>
	    {% endfor %}

          </ul>
        </div>
      </div>
    </div>

    <!-- Portfolio Grid -->
    <div class="row portfolio-grid">

      {% for item in site.portfolio %}

      <div class="col-md-4 col-sm-6 item visible {% for category in item.categories %} {{ category | replace:' ','-' | downcase }}{% endfor %}">
        <figure class="img-wrap">
          {% if item.thumb %}
            <img src="{{ site.baseurl }}{{ item.thumb }}" alt="Portfolio Item Image" />
          {% else %}
            <img src="{{ site.baseurl }}{{ item.image }}" alt="Portfolio Item Image" />
          {% endif %}
        </figure>
        <a href="{{ item.url }}">
          <div class="item-content">
            <h3>{{ item.title }}</h3>
            <h4>{{ item.categories | first }}</h4>
            {% if item.description %}
              <p class="item-description">{{ item.description }}</p>
            {% endif %}
          </div>
        </a>
      </div>

      {% endfor %}

      <!-- Overlay Lightbox -->
      <div id="overlay" class="overlay"></div>

    </div>

  </div>
</section>
